*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI';

}

.boxed
{
    position: absolute;
    float: left;
    height: 665px;
    width: 88%;
    background-color: #4B32B0;    
    box-shadow: 0px 8px 4px #C4C4C4;
    border-bottom-right-radius: 245px;
    
}
.nav-links
{
    position: absolute;
    right: 13%;
    margin-top: 8px;
    flex: 1;
}
.nav-links ul li {
    padding-left: 5px;
    display:inline ;
    float: right;
    position: relative;
}
.nav-links ul li a{
    text-align: right;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 12px;

}
.nav-links ul li a:hover
{
    margin: auto;
    background-color: #662EDE;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.bluebox{
    float: right;
    margin-right: 1.5%;
    margin-top: 6px;
    width: 9%;
    border-radius: 12px;
    background-color: #4B32B0;
}
.bluebox ul
{
    position: absolute;
    margin: auto;
    padding: 3%;
    text-align: center;
    list-style-type: none;
    position: relative;
}
.bluebox ul li
{

    display: inline;
    text-align: right;
}
.bluebox ul li a
{
    padding-top: 5px ;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.bluebox:hover
{
    background-color: #662EDE;
}
.circle1
{
    position: absolute;
    float: left;
    top: 18%;
    left: 85%;
    background: linear-gradient(
        to left bottom,
        rgba(255,255,255,0.253),
        rgba(255,255,255,0.0) 
        );
    width: 50px;
    min-height: 100px;
    border-radius: 50px 0px 0px 50px;
}
.circle2
{
    position: absolute;
    top: -34px;
    left: -50px;
    background: linear-gradient(
        to  right ,
        rgba(255,255,255,0.233),
        rgba(255,255,255,0.05) 
        );
    width: 110px;
    min-height: 110px;
    border-radius: 50% 50% 50% 50%;
    
}
.circle3,
.circle4
{
    position: absolute;
    float: right;
    background: linear-gradient(
        to top right,
        rgba(255, 255, 255, 0.253),
        rgba(255, 255, 255, 0) 
        );
    width: 79px;
    min-height: 79px;
    border-radius: 50% 50% 50% 50%;  
}
.circle3
{
    top: -20.3px;
    right: 45% ;
}
.circle4
{
    top:-35.29px ;
    right: 42%;
}
.circle5
{
    position: absolute;
    float: left;
    top: 465px;
    left: 0px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.193),
        rgba(255, 255, 255, 0) 
        );
    width: 200px;
    min-height: 200px;
    border-top-right-radius: 100%;
    z-index:1;  
}
.circle6
{
    position: absolute;
    float: left;
    left: 0px;
    top: 540px;
    background: #E5E5E5;
    background: linear-gradient(
        to  right ,
        rgba(255, 255, 255, 0.153),
        rgba(255, 255, 255, 0.0) 
        );
    width: 125px;
    min-height: 125px;
    border-top-right-radius: 100%; 
    z-index:9;
}
.circle7
{
    position: absolute;
    float: left;
    top: 615px;
    left: 0px;;
    background:#4B32B0;
    width: 50px;
    min-height: 50px;
    border-top-right-radius: 100%;
    z-index:15 ;
}
.circle8,
.circle9
{
    position: absolute;
    float: left;
    background: linear-gradient(
        to  bottom,
        rgba(255, 255, 255, 0.133),
        rgba(255, 255, 255, 0.0) 
        );
    width: 79px;
    min-height: 79px;
    border-radius: 50% 50% 50% 50%;  
}
.circle8
{

    top: 422px;
    left: 420px;
}
.circle9
{
    background: linear-gradient(
        to  right bottom,
        rgba(255, 255, 255, 0.183),
        rgba(255, 255, 255, 0.0) 
        );
    top:460px ;
    left: 404px;
}
.circle11
{
    position: absolute;
    float: right;
    top: 605px;
    right: 50%;
    height: 60px;
    width: 120px;
    border-radius:  0%;
    border : 15px  solid transparent ;
    background-image: 
        linear-gradient(#4b32b0 , #4b32b0),
        linear-gradient( rgba(249, 240, 240, 0.26),rgba(227, 209, 209, 0.111)) ;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    border-bottom: 0px;
}
.circle10
{
    position: absolute;
    float: left;
    top: 179px;
    right: 28%;
    left: 50%;
    height: 317.88px;
    width: 320px;
    border-radius:  50%;
    border : 0px  solid transparent ;
    background-image: 
        linear-gradient( rgba(196, 196, 196, 78%),rgba(196, 196, 196, 78%)) ;
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.photo
{
    position: absolute;
    float: right;
    top: 179px;
    right: 28%;
    left: 50%;
    height: 317.88px;
    border-radius: 50% 50% 48.5% 50% ;
}  
.star0
{
    position: absolute;
    float: left;
    top:-10px;
    left: 22%;
    height: 180px;
    opacity:0.6;
}

.description
{
    position: absolute;
    float: right;
    top: 260px;
    right:55%;
    left:5%;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}
.firstsection
{
    position: fixed;
}

/*------Service start------*/

.container
{
    position: absolute;
    float: left;
    display: flex;
    top: 814px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content:center;
    background: rgba(102, 46, 222, 0.93);
    padding: 150px 0 70px 0 ;
    
    
}
.container> div
{
    height: auto;
    width:400px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.911);
    text-align : center;
    margin: 10px;
    padding: 10px ;
}
.container> div:hover
{
    background: #fff;
    box-shadow:  0 0 30px  rgb(33, 25, 25) ;
}
.service
{
    position: absolute;
    float: left;
    text-align:center;
    top: 50px;
    font-size: 32px;
    color:#fff;
}
.provide
{
    position: absolute;
    float: left;
    text-align:center;
    top: 90px;
    font-size: 20px;
    color:#fff;
}
.fa-paintbrush ,.fa-chart-line, .fa-code
{
    color:#4B32B0;
    font-size :50px;
    margin-top:30px;
    margin-bottom:10px;
}
.fa-paintbrush, .fa-chart-line .fa-code:hover
{
    color:#662EDE;
}
.container >div>p
{
   font-size:20px;
   margin: 10px 30px 10px 30px;
   font-weight:500 ;
   margin-bottom:30px;
}
.container >div>h1
{
    font-size:28px;
}

/*==========skill Start============*/
.service_part
{
    position: absolute;
    float: left;
    display: flex;
    top: 1400px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content:center;
    padding: 10px 0 70px 0 ;

}
.skill
{
    position: absolute;
    float: left;
    font-size: 32px;
    text-align: center;
}
.know
{
    position: absolute;
    float: left;
    font-size: 20px;
    text-align: left;
    margin:40px;

}